<html>
<style>

body {
h1 {
  color: #B20D30;
  font-size: 60px;
  text-align: center;
  background-color: #FFDDE2;
  text-decoration: underline;
  text-decoration-color: #FF8CC6;
  text-decoration-style: dashed;
  text-decoration-thickness: 5%;
}
body {
  background-color: lightblue;
}
img {
  width: 15%;
  border: dashed red;
  border-thickness: 5%;
}
}
</style>
</html>
